.ul_history {
    padding-top: 60px;
    padding-left: 60px;
    margin-right: 25%;
}

.timeline {
    top: 70px;
    padding-left: 20px;
    position: fixed;
    right: 0;
    width: 20%;
    background: black;
    border-left: solid 1px white;
    overflow-y: scroll;
    height: 90%;
}

html {
    scroll-behavior: smooth;
}

@media screen and (max-width: 768px) {
    .ul_history {
        padding-left: 30px;
    }
    .timeline {
        padding-left: 10px;
    }
}