.div_pres {
    width: 100%;
    color: white;
    border-bottom: solid 1px white;
    background-image: url("./../../assets/banner_1.jpg");
    background-attachment: fixed;
    background-size: 100%;
    padding-top: 65px;
}

.div_opac {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.div_content {
    margin: auto;
    text-align: center;
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
}

@media screen and (max-width: 768px) {
    .div_content {
        width: 75%;
    }
}
